---
layout: api_default
---
{{ content }}

<div id="swagger-ui"></div>

<script src="{{ site.baseurl }}/assets/js/swagger-ui-bundle.js"></script>
<script src="{{ site.baseurl }}/assets/js/swagger-ui-standalone-preset.js"></script>

<script>
window.onload = function() {
  const ui = SwaggerUIBundle({
    url: "{{ site.baseurl }}/assets/api/openapi-pix.json",
    dom_id: '#swagger-ui',
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ]
  })

  window.ui = ui
}
</script>
